.splash-content {
  --background: #f5efe6; // plain cream background

  .center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; // fill ion-content

    img {
      width: 200px; // change this to your desired size
      height: auto; // keeps the aspect ratio
    }
  }
}
